<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Smoke Tests">
    <listeners>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>
    <test name="Sign In / Sign Out">
        <classes>
            <class name="tests.Ordering.Cart_Flyout.VerifyCartFlyoutGoToCartButtonRedirectsToCartPage"/>
        </classes>
    </test>
</suite>